$main-color: #3702E8;
@import './styles/NavBar';
@import './styles/PublicLanding';
@import './styles/ChefsRoute';
@import './styles/IngredientsRoute';
@import './styles/RecipesRoute';

body {
    background: $main-color;
    margin: 0px;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    object-fit: cover;
}

.item-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.circle-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    
    &:hover {
        transform: scale(1.05);
    } 
}

.dropdown {
    position: relative;
    top: 25px;
    display: flex;
    justify-content: center;

    select {
        background: $main-color;
        border: 1px solid blue;
        width: 150px;
        height: 75px;
        font-size: 25px;
    }
}

.hover {
    &:hover {
        transform: scale(1.01);
    }
}