$main-color: #3702E8;
@import './styles/NavBar';
@import './styles/PublicLanding';
@import './styles/ChefsRoute';
@import './styles/IngredientsRoute';
@import './styles/RecipesRoute';

body {
    background: $main-color;
    margin: 0px;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    object-fit: cover;
}

.item-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.circle-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    
    &:hover {
        transform: scale(1.05);
    } 
}

.dropdown {
    position: relative;
    top: 25px;
    display: flex;
    justify-content: center;

    select {
        background: $main-color;
        border: 1px solid blue;
        width: 150px;
        height: 75px;
        font-size: 25px;
    }
}

.hover {
    &:hover {
        transform: scale(1.01);
    }
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50px;
    padding-bottom: 50px;

    button {
        padding: 15px;
        border: 1px solid $main-color;
        border-radius: 10%;
        margin-bottom: 60px;
    }

    input {
        padding: 10px;
        width: 200px;
        border: 1px solid $main-color;
        outline: none;
        transition: padding .25s ease-in-out;

        &:focus {
            padding: 12px;
        }
    }
    
    span {
        display: block;
        margin-top: 10px;
        color: black;
        margin: 10px;
    }

    input:valid + span:after {
        content: '   ✓';    
        color: green;
        
    }

    input:invalid + span:after {
        content: '   X';
        color: red;
    }
}