$main-color: #3702E8;
@import './styles/NavBar';
@import './styles/PublicLanding';
@import './styles/ChefsRoute';

body {
    background: $main-color;
    margin: 0px;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

