

.plr-container {
    display: flex;
}

.rp-container {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);

    .rp-link {
    
        h1 {
            font-size: 18px;
            text-align: center;
        }
        img {
            width: 400px;
            height: 200px;
            object-fit: cover
        }

        .rp-info {
            display: flex;
            justify-content: space-between;
            width: 100%;
            h5 {
                margin: 0px;
                font-size: 12px;
                padding: 6.5px 0px;
            }
            .rp-chef {
                display: flex;
                img {
                    display: inline-block;
                    width: 25px;
                    height: 25px;
                    object-fit: cover;
                    border-radius: 50%;
                    padding-right: 5px;
                }
            }
        }
    }
}

.sb-container {
    margin-top: 30px;
    width: 200px; 

    h1 {
        font-size: 15px;
        text-align: center;
    }

    .s-box {
        position: relative;
        left: 15px;
        border: 1px solid white;
        height: 300px;
        width: auto;
    
        ul {
            list-style-type: none;
            padding: 0px;
            
            margin-top: 0px;
            overflow-y: scroll;
    
            li {
                cursor: pointer;
                font-size: 0.7em;
                border-bottom: 1px solid white;
                padding: 20px;
            }

            .r-selected {
                background-color: rgb(74, 26, 232)
            }
        }
    }
}
