body {
    margin: 0px;
    padding: 0px;
    color: white;
    background: #3702E8;
}

a {
    text-decoration: none;
    color: white;
}

button {
    cursor: pointer;
}

main, .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

hr {
    width: inherit;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.flex-button {
    display: flex;
}

.button {
    display: inline-block;
    margin: 20px 5px;
    padding: 10px;
    width: 200px;
    height: 75px;
    background: #3702E8;
    border: 2px solid rgb(13, 13, 50);
    border-radius: 40%;
    color: white;
    font-size: 20px;
    outline: none;
    transition: border-radius .5s ease-in-out;
}

.button:hover {
    background: rgb(60, 0, 255);
    border-radius: 10%;
}

.button:active {
    background: rgb(102, 57, 252);
}

input[type=text] {
    display: block;
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;
    outline: none;
}

input[type=file] {
    margin: 20px;
    font-size: 18px;
    outline: none;
    width: 250px;
    cursor: pointer;
    border: 2px solid white;
    padding: 10px;
    border-radius: 15%;
}


textarea {
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;
    outline: none;
    transition: padding .5s ease-in-out;
    width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
}


#logout {
    position: absolute;
    top: 10px;
    right: 10px;
}

.ac-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 20px;
}

.item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chef-card {
    margin: 10px 20px;
}

.chef-card h5 {
    text-align: center;
}

.circle-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.circle-image:hover {
    transform: scale(1.1);
}

.chef-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.initial-fields {
    display: flex;
    justify-content: 'space-between';
}

.image-file {
    margin-right: 10px;
    position: relative;
}

.image-file button {
    position: absolute;
    top: 0px;
}


.name-fields {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.submit {
    display: block;
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;
    outline: none;
}

.form-btn-container {
    display: inline-flex;
    width: 50%;
    justify-content: center;
}

.form-btn-container button {
    margin: 20px 75px;
}

.delete {
    background: rgb(187, 3, 3);
}

.season-container {
    width: 300px;
    background-color: white;
    border: 2px solid gray;
}

.season-container span {
    color: black;
}

.months-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 200px;
    margin: 10px;
    border: 2px solid gray;
}

.month {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 136px;
    border: 1px solid gray;
    cursor: pointer;
    user-select: none;
}

.selected {
    background-color: #3702E8;
}
.selected span {
    color: white;
}

.ing-info-fields {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name-and-type {
    margin-right: 50px;
}
 
.type-radio-container {
    border: 2px solid gray;
    background-color: white;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    display: flex;
    justify-content: center;
}

.type-radio-container span {
    color: black;
}

.type-radio-container .group {
    border: 1px solid gray;
    width: 100px;
    height: 50px;
    display: block;
    position: relative;
}

.group label { 
    color: black;
}

.group label input[type="radio"] {
    display: block;
    cursor: pointer;
}
